<div>
    <% if(fileNames.length > 0) { %>
      <% fileNames.forEach(function(file) { %>
        <div>
          <a href="#" onclick="location.href='/display/<%= file.filename %>'">
            <%= file.filename %>
          </a>
        </div>
      <% }); %>
    <% } else { %>
      <div>
        <%= "No Files are uploaded" %>
      </div>
    <% } %>
  </div>
