<div id = "fileLists">
    <% if(fileNames.length > 0) { %>
      <% fileNames.forEach(function(file) { %>
          <a href="#" onclick="location.href='/display/<%= file.filename %>'">
            <%= file.filename %>
          </a>
      <% }); %>
    <% } else { %>
      <div id = "EmptyDB">
        <%= "No Files are uploaded" %>
      </div>
    <% } %>
</div>
