<!DOCTYPE html>
<html>

<head>
    <title>CSV Files</title>
    <link rel="stylesheet" href="/css/home.css"
</head>

<body>
    <h1>CSV Files</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="csvFile" accept=".csv" required>
        <input type="submit" value="Upload">
     </form> 
    <br />
    <br />
    <%- include('_list_files') -%>
    <script src="/js/home.js"></script>
</body>

</html>