<!DOCTYPE html>
<html>

<head>
    <title>CSV Files</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    </head>

<body>
  <!-- check if there is an errorMessage and display the error message using Noty -->
  <% if (errorMessage) { %>
    <script>
      new Noty({
        type: 'error',
        layout: 'topRight',
        text: '<%= errorMessage %>',
        timeout: 1500,
        callbacks: {
          afterClose: function() {
            window.location.href = '/';
          }
        }
      }).show();
    </script>
  <% } %>
  <!-- check if there is a successMessage and display the success message using Noty -->
  <% if (successMessage) { %>
    <script>
      new Noty({
        type: 'success',
        layout: 'topRight',
        text: '<%= successMessage %>',
        timeout: 1500,
        callbacks: {
          afterClose: function() {
            window.location.href = '/';
          }
        }
      }).show();
    </script>
  <% } %>  

    <h1>CSV Files</h1>
    <!-- file upload form -->
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="csvFile" accept=".csv" required>
        <input type="submit" value="Upload">
     </form> 
    <br />
    <br />
    <h2>List of Uploaded Files</h2>
      <!-- include the _list_files partial -->
    <%- include('_list_files') -%>
</body>

</html>