<!DOCTYPE html>
<html>

<head>
    <title>CSV Files</title>
</head>

<body>
    <h1>CSV Files</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="csvFile" accept=".csv" required>
        <input type="submit" value="Upload">
      </form>
      
      <%- include('_list_files') -%>

    <br />
    <br />

    

    <script src="/js/script.js"></script>
</body>

</html>